@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
* {
  font-family: "Source Sans Pro", sans-serif;
}

.main {
  background: url("./assets/background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  padding: 0 16px;
  width: 100%;
  max-width: 1115px;
  margin: 52px 0;
}

@media screen and (min-width: 900px) {
  .content {
    margin: 63px 0;
  }
}

.render-more {
  color: #2738F1;
  text-decoration: underline;
  text-align: center;
  padding-top: 22px;
}

.render-more:hover {
  cursor: pointer;
  color: #F44337;
}

.head-container {
  position: relative;
  padding: 23px 0 46px;
}

@media screen and (min-width: 900px) {
  .head-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.head-container__button {
  position: absolute;
  right: 0;
  bottom: 15px;
}

@media screen and (min-width: 900px) {
  .head-container__button {
    position: relative;
    bottom: unset;
  }
}

.headline-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headline--1 {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (min-width: 900px) {
  .headline--1 {
    font-size: 34px;
  }
}

.headline__logo {
  width: 18px;
  height: 13.5px;
  margin-right: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 900px) {
  .headline__logo {
    width: 44px;
    height: 32px;
  }
}

.switch {
  position: relative;
  width: 45px;
  height: 24px;
}

.switch-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.switch__text {
  margin-right: 12px;
}

.switch__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__checkbox:checked + .switch__slider {
  background-color: #828282;
}

.switch__checkbox:focus + .switch__slider {
  -webkit-box-shadow: 0 0 1px #828282;
          box-shadow: 0 0 1px #828282;
}

.switch__checkbox:checked + .switch__slider:before {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #828282;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch__slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch__slider--round {
  border-radius: 34px;
}

.switch__slider--round:before {
  border-radius: 50%;
}

.nav {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

@media screen and (min-width: 900px) {
  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav__menu {
  width: 52px;
  height: 52px;
  background-color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__menu .fa-solid {
  color: #fff;
  font-size: 35px;
}

.nav__menu .fa-bars {
  display: block;
}

.nav__menu .fa-xmark {
  display: none;
}

.nav--open .fa-bars {
  display: none;
}

.nav--open .fa-xmark {
  display: block;
}

.nav--open .nav__innercontainer {
  opacity: 1;
  z-index: -1;
  width: 100%;
}

.nav__logo {
  max-height: 52px;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 0;
}

.nav__innercontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 52px;
  position: absolute;
  background-color: #000;
  padding: 5px 0;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: -99;
  opacity: 0;
  height: 100vh;
  width: 0;
}

@media screen and (min-width: 900px) {
  .nav__innercontainer {
    all: unset;
    position: relative;
    top: 0;
    display: block;
  }
}

.nav__item {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #F44337;
  padding: 20px 15px;
  text-align: center;
}

.nav__item:last-child {
  border: none;
}

@media screen and (min-width: 900px) {
  .nav__item {
    margin-left: 15px;
    border: unset;
  }
}

.nav__item:hover {
  color: #F44337;
}

.card {
  -webkit-box-shadow: 0px 3px 12px 0px #00000033;
          box-shadow: 0px 3px 12px 0px #00000033;
  border-radius: 8px;
  background: #fff;
  margin: 8px 0;
  padding-left: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
}

@media screen and (min-width: 900px) {
  .card {
    padding: 0 16px 0 21px;
    min-height: 56px;
  }
  .card:hover {
    -webkit-transform: scale(110%);
            transform: scale(110%);
    cursor: pointer;
  }
}

.card__count {
  font-size: 23px;
  font-weight: 700;
  width: auto;
  padding: 12px 20px 15px 0;
  max-width: 50px;
}

.card__img {
  height: 42px;
  width: 84px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 900px) {
  .card__img {
    margin-right: 49px;
  }
}

.card__review {
  color: #484848;
  margin: 0 auto;
  font-size: 13px;
}

@media screen and (min-width: 900px) {
  .card__review {
    font-size: 14px;
  }
}

.card__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__rating .rating {
  display: none;
  margin-right: 21px;
}

@media screen and (min-width: 900px) {
  .card__rating .rating {
    display: block;
  }
  .card__rating .rating::after {
    content: "";
    color: #FBC02D;
  }
}

.card__rating .rating--1::after {
  content: "\2605\2730\2730\2730\2730";
}

.card__rating .rating--2::after {
  content: "\2605\2605\2730\2730\2730";
}

.card__rating .rating--3::after {
  content: "\2605\2605\2605\2730\2730";
}

.card__rating .rating--4::after {
  content: "\2605\2605\2605\2605\2730";
}

.card__rating .rating--5::after {
  content: "\2605\2605\2605\2605\2605";
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (min-width: 900px) {
  .card__info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.card__info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 23px;
}

@media screen and (min-width: 900px) {
  .card__info .info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
  }
}

.card__info .info-text {
  color: #2A42ED;
  text-align: center;
  font-size: 10px;
}

@media screen and (min-width: 900px) {
  .card__info .info-text {
    font-size: 17px;
  }
}

.card__info .info-text--full {
  display: none;
}

@media screen and (min-width: 900px) {
  .card__info .info-text--full {
    display: block;
  }
}

.card__info .info-text--short {
  display: block;
  font-size: 10px;
  line-height: 12.5px;
  text-transform: uppercase;
}

@media screen and (min-width: 900px) {
  .card__info .info-text--short {
    display: none;
  }
}

.card__info .info-text--amount {
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__button {
  background-color: #F44337;
  color: #fff;
  padding: 28px 19.5px;
  position: relative;
  border-radius: 0 8px 8px 0;
  font-size: 0;
}

@media screen and (min-width: 900px) {
  .card__button {
    border-radius: 4px;
    padding: 9px 44px;
    font-size: 14px;
  }
}

.card__button--icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 14px;
}

@media screen and (min-width: 900px) {
  .card__button--icon {
    top: 18px;
    right: 13px;
    left: unset;
  }
}

.card-container--sorted .card {
  padding-left: 17px;
}

.card-container--sorted .card__count {
  width: 0;
  padding: 0;
  opacity: 0;
}

@media screen and (min-width: 900px) {
  .card-container--cards-big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card-container--cards-big .card, .card-container--cards-big .card__rating, .card-container--cards-big .card__info, .card-container--cards-big .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-container--cards-big .card {
    position: relative;
    padding: 30px 29px 27px;
    margin-right: 16px;
    border-radius: 12px;
  }
  .card-container--cards-big .card__img {
    margin: 0 0 10px 0;
    width: 108px;
    height: 54px;
  }
  .card-container--cards-big .card__count {
    position: absolute;
    padding: 0;
    line-height: 33px;
    left: 11px;
    top: 4px;
  }
  .card-container--cards-big .card__rating {
    margin-bottom: 29px;
  }
  .card-container--cards-big .card__rating .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .card-container--cards-big .card .info {
    margin: 0 0 33px 0;
  }
  .card-container--cards-big .card__button {
    padding: 9px 44px;
  }
  .card-container--cards-big .card__info .info-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-size: 16px;
  }
}

@media screen and (max-width: 899px) {
  .hide--mobile {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .hide--desktop {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}
/*# sourceMappingURL=main.css.map */